/node_modules
/src/_public
/auth/upload/avatars/
/auth/upload/champions/
/auth/upload/passports/
/build
deploy.zip
config/trade.json
config/trade.json
config/stSys.json
.vs/BO2_Back/FileContentIndex/2f3e2078-e66f-4824-a38c-7bf3c276832c.vsidx
.vs/BO2_Back/FileContentIndex/3631f677-39ac-4507-92fb-474a51cbb3cb.vsidx
.vs/BO2_Back/FileContentIndex/5889ae90-0e42-4c9f-96d6-0b99814aecc9.vsidx
.vs/BO2_Back/FileContentIndex/f6e9eb35-9aa1-42b6-9d53-fed88235dde0.vsidx
.vs/BO2_Back/FileContentIndex/d4357c2d-de92-4f44-879c-005ef649cb4d.vsidx
.vs/BO2_Back/FileContentIndex/read.lock
.vs/ProjectSettings.json

config/stSys.json

*.vsidx
*.wsuo
*.bin
*.sqlite

/config/stSys.json
/package-lock.json
/config/stSys.json
config/stSys.json
config/trade.json
